@import "src/assets/scss/variables";

#dashboard-content{

  min-height: 100vh;

  background: $dashboardBackground;

  padding-top: $dashboardTopbarHeight;

  transition: 0.2s margin-left linear;

  color:#fff;
  font-size: 16px;

  &.active{
    margin-left: $dashboardSidemenuWidth;
  }
}
