<div id="site-topbar" class="active" [ngClass]="{ active: (sidemenu$ | async)?.show }">
    <div id="site-topbar-left">
        <feather-icon class="toogleMenu" icon="menu" (click)="toogleMenu()"></feather-icon>
    </div>
    <div id="site-topbar-right">
        <div>
            <feather-icon size="small" icon="flag"></feather-icon>
        </div>
        <div>
            <feather-icon size="small" icon="bell"></feather-icon>
        </div>
        <div><small>Welcome,</small><br />Bartosz!</div>
    </div>
</div>
