@import "../../../assets/scss/variables";

#page-header{
  padding-top: 50px;
  padding-bottom: 25px;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;

  &-navbar{
    margin: 0;
    padding: 0px 0px 25px 0px;

    display: flex;
    flex: 0 0 100%;
    width: 100%;

    align-items: center;
    list-style: none outside;

    .arrow-span{
      margin: 0px 5px;

      svg{
        stroke: $themeColor1 !important;
      }
    }

    a{
      text-decoration: none;
      color: $themeColor3;
    }

    .active-span{
      color: #000;
    }

    li{
      list-style: none outside;

      display: inline-flex;
      align-items: center;

    }
  }

  &-left, &-right{
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

#title{
  margin: 0 !important;
  padding: 0 !important;
}

#subtitle{
  margin: 0;
  padding-top: 15px;

  color: #777;
  font-weight: 400;
  font-size: 16px;

}
