@import "variables";

#snackbar{
  display: flex;
  align-items: center;

  position: fixed;
  bottom: 15px;
  right: 15px;

  border-radius: 8px;

  padding: 15px 35px;

  background: #000;

  z-index: 9999;

  color:#fff;

  max-width: 80vw;


  &-text{
    padding-left: 15px;
  }

  &.warn{
    background: $themeColorWarn;
  }

  &.primary{
    background: $themeColorPrimary;
  }

  &.success{
    background:$themeColorSuccess;
  }


}
