<div id="car-edit" class="template-padding">
    <app-dashboard-header title="Informaje o pojeździe: " subtitle="ID: {{ carId }}">
        <button right mat-flat-button class="button-normal" color="warn">Usuń pojazd</button>
        <button
            right
            mat-flat-button
            class="button-big"
            color="primary"
            [style.margin-left]="'15px'"
        >
            Dodaj nową naprawę
        </button>
    </app-dashboard-header>

    <div class="container-fluid" style="padding: 0px">
        <div class="row">
            <div class="col-4">
                <div id="car-info" class="box-info">
                    <div>
                        <p>Marka: Nissan</p>
                        <p>Model: Z350</p>

                        <p>Rejestracja: PZFWFFA</p>
                        <p>VIN: ADASDADDA</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div id="car-info" class="box-info">
                    <h4>Właściciel:</h4>
                    <div>
                        <p>Marka: Nissan</p>
                        <p>Model: Z350</p>

                        <p>Rejestracja: PZFWFFA</p>
                        <p>VIN: ADASDADDA</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div id="car-info" class="box-info">
                    <h4>Informacje o naprawach:</h4>
                    <div>
                        <p>Marka: Nissan</p>
                        <p>Model: Z350</p>

                        <p>Rejestracja: PZFWFFA</p>
                        <p>VIN: ADASDADDA</p>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div id="car-info" class="box-info">
                    <h4>Lista napraw:</h4>
                    <div>
                        <p>Marka: Nissan</p>
                        <p>Model: Z350</p>

                        <p>Rejestracja: PZFWFFA</p>
                        <p>VIN: ADASDADDA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
