<div id="car-edit" class="template-padding">
    <app-page-header title="Informaje o pojeździe: " [headerNavi]="headerNavi">
        <button right mat-flat-button class="button-big" color="warn" (click)="deleteVehicle()">
            Usuń pojazd
        </button>
    </app-page-header>

    <div class="container-fluid" [style.padding]="0">
        <div class="row"></div>

        <mat-tab-group
            [(selectedIndex)]="this.tabActive"
            (selectedIndexChange)="changedTab($event)"
        >
            <mat-tab label="DANE" isActive>
                <div #infoTab></div>
            </mat-tab>
            <mat-tab label="NAPRAWY">
                <div #repairsTab></div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
