<div class="row align-items-center no-gutters justify-content-center before-table">
    <div class="col-12 col-lg-6 order-2 order-lg-1">
        <app-before-table
            (action)="selectedAction($event)"
            [count]="selection.selected.length"
        ></app-before-table>
    </div>
    <div class="col-12 col-lg-6 order-1 order-lg-2">
        <mat-paginator
            [length]="tableResultsLength"
            [pageSize]="tablePageSize"
            aria-label="Paginator 1"
        ></mat-paginator>
    </div>
</div>

<div class="table-container">
    <table
        mat-table
        [dataSource]="data"
        matSort
        matSortActive="createdAt"
        matSortDisableClear
        matSortDirection="desc"
    >
        <!-- Select Column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                    color="primary"
                    value="all"
                    (change)="onSelectAllCheckbox($event)"
                    [checked]="selectedAll"
                ></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row; let i = index">
                <mat-checkbox
                    color="primary"
                    (click)="$event.stopPropagation()"
                    (change)="onSelectSingleCheckbox(row.id)"
                    [checked]="selection.isSelected(row.id)"
                ></mat-checkbox>
            </td>
        </ng-container>

        <!-- Plate Column -->
        <ng-container matColumnDef="plate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Plate</th>
            <td mat-cell *matCellDef="let row">
                <a [routerLink]="['/dashboard', 'vehicles', 'info', row.id]">{{ row.plate }}</a>
                <p class="d-sm-none">
                    <app-action-button (action)="onMenuAction($event, row)"></app-action-button>
                </p>
            </td>
        </ng-container>

        <!-- Mark Column -->
        <ng-container matColumnDef="mark">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Marka</th>
            <td mat-cell *matCellDef="let row">{{ row.mark }}</td>
        </ng-container>

        <!-- Model Column -->
        <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Model</th>
            <td mat-cell *matCellDef="let row">{{ row.model }}</td>
        </ng-container>

        <!-- Year Column -->
        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Rok</th>
            <td mat-cell *matCellDef="let row">{{ row.year }}</td>
        </ng-container>

        <!-- Engine Column -->
        <ng-container matColumnDef="engine">
            <th mat-header-cell *matHeaderCellDef>Silnik</th>
            <td mat-cell *matCellDef="let row">
                {{ row.engine.engineType | engineType }} <br />
                {{ row.engine.engineSize | number: '1.1-1' }} L | {{ row.engine.enginePower }} KM
                <br />
            </td>
        </ng-container>

        <!-- Created Column -->
        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dodany</th>
            <td mat-cell *matCellDef="let row">
                {{ row.createdAt | date: 'dd/MM/y' }} <br />
                o godz. {{ row.createdAt | date: 'HH:mm' }}
            </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row; let index = index">
                <app-action-button (action)="onMenuAction($event, row)"></app-action-button>
            </td>
        </ng-container>

        <!-- EMPTY TABLE INFO -->
        <tr class="mat-row" *matNoDataRow>
            <td
                class="mat-cell"
                [colSpan]="displayedColumns.length"
                [style.text-align]="'center'"
                [style.font-size]="'18px !important'"
            >
                Brak danych do wyświetlenia
            </td>
        </tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>

<mat-paginator
    [length]="tableResultsLength"
    [pageSize]="tablePageSize"
    aria-label="Paginator 2"
></mat-paginator>
