@use 'sass:color';

@import "src/assets/scss/variables";

.feather {
  width: 26px;
  height: 26px;
  stroke: #000;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;

  transition: 0.2s stroke ease-in;


  &.small{
    width: 20px;
    height: 20px;
  }

  &.big{
    width: 30px;
    height: 30px;
  }


  &.white{
    stroke: #fff;
  }

  &.primary{
    stroke: $themeColorPrimary;
  }

  &.success{
    stroke: $themeColorSuccess;
  }

  &.warn{
    stroke: $themeColorWarn;
  }

  &.accent{
    stroke: $themeColorAccent;
  }

  &.theme1{
    stroke: $themeColor1;
  }

  &.theme2{
    stroke: $themeColor2;
  }

  &.theme3{
    stroke: $themeColor3;
  }

  &.theme4{
    stroke: $themeColor4;
  }


  &:hover{
    stroke: color.scale( #000, $lightness: 50%) !important;
  }
}
