<div id="dashboard-info-view" class="template-padding">
    <app-page-header> </app-page-header>

    <div id="dashboard-links">
        <div class="row">
            <!-- NAPRAWY -->
            <div class="col-12 col-xl-4">
                <a routerLink="/dashboard/repairs" class="box-info box-link">
                    <div class="row align-items-center">
                        <div class="col-auto icon">
                            <feather-icon icon="file-text" size="xxl"></feather-icon>
                        </div>
                        <div class="col text">
                            <h4>Naprawy</h4>
                            <span>ZOBACZ</span>
                        </div>
                    </div>
                </a>
            </div>
            <!-- KLIENCI -->
            <div class="col-12 col-xl-4">
                <a routerLink="/dashboard/clients" class="box-info box-link">
                    <div class="row align-items-center">
                        <div class="col-auto icon">
                            <feather-icon icon="dollar-sign" size="xxl"></feather-icon>
                        </div>
                        <div class="col text">
                            <h4>Klienci</h4>
                            <span>ZOBACZ</span>
                        </div>
                    </div>
                </a>
            </div>
            <!-- POJAZDY-->
            <div class="col-12 col-xl-4">
                <a routerLink="/dashboard/vehicles" class="box-info box-link">
                    <div class="row align-items-center">
                        <div class="col-auto icon">
                            <feather-icon icon="truck" size="xxl"></feather-icon>
                        </div>
                        <div class="col text">
                            <h4>Pojazdy</h4>
                            <span>ZOBACZ</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
