@import "../../../../assets/scss/variables";

#site-topbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;

  padding-left: 35px;
  padding-right: 35px;

  display:flex;
  justify-content: space-between;
  align-items: center;

  background: #fff;
  height: $dashboardTopbarHeight;

  color: #000;

  font-size: 14px;

  z-index: 4;

  border-bottom: 2px solid $themeColor2;

  transition: 0.2s width linear;

  text-align: center;
  font-size: 30px;
  font-weight: 300;

  &.active{
    width: calc( 100% - #{$dashboardSidemenuWidth});
  }

  &-left{
    padding-left: 15px;
  }

  &-right{
    display:flex;
    align-items: center;

    > div {
      padding: 15px;
    }
  }

}

.feather {
  stroke: $themeColor3;
}

.toogleMenu{
  cursor: pointer;
}

#topbar-name{
  font-size: 20px;
}

button{
  font-size: 20px !important;
}

@media( max-width: 992px ){
  #site-topbar{
    padding-left: 5px;
    padding-right: 5px;

    &.active{
      width: 100%;
    }
  }
}

