<h2 mat-dialog-title>Dodaj nowy pojazd</h2>
<mat-dialog-content [formGroup]="form">
  <div class="row">
    <!-- INPUT PLATE -->
    <div class="col-12 col-md-8">
      <mat-form-field appearance="outline" errorState="true">
        <mat-label>Rejestracja</mat-label>
        <input matInput placeholder="PZL0000" formControlName="plate" (keyup)="makeValueToUpperCase(form.controls['plate'])">
        <mat-error *ngIf="form.controls['plate'].errors && form.controls['plate'].dirty">{{ getFormError( 'plate', form.controls['plate'] )}}</mat-error>
      </mat-form-field>
    </div>

    <!-- INPUT YEAR -->
    <div class="col-12 col-md-4">
      <mat-form-field appearance="outline" >
        <mat-label>Rok produkcji</mat-label>
        <input matInput placeholder="PZ0000" formControlName="year" >
        <mat-error *ngIf="form.controls['year'].errors">{{ getFormError( 'year', form.controls['year'] )}}</mat-error>
      </mat-form-field>
    </div>

    <!-- INPUT MARK -->
    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" >
        <mat-label>Marka</mat-label>
        <input matInput placeholder="VW" formControlName="mark" >
        <mat-error *ngIf="form.controls['mark'].errors">{{ getFormError( 'mark', form.controls['mark'] )}}</mat-error>
      </mat-form-field>
    </div>

    <!-- INPUT MODEL -->
    <div class="col-12 col-md-6">
      <mat-form-field appearance="outline" >
        <mat-label>Model</mat-label>
        <input matInput placeholder="Golf 4" formControlName="model" >
        <mat-error *ngIf="form.controls['model'].errors">{{ getFormError( 'model', form.controls['model'] )}}</mat-error>
      </mat-form-field>
    </div>

    <!-- INPUT VIN -->
    <div class="col-12">
      <mat-form-field appearance="outline" >
        <mat-label>VIN</mat-label>
        <input matInput placeholder="VDS45678901234567" formControlName="vin" (keyup)="makeValueToUpperCase(form.controls['vin'])" >
        <mat-error *ngIf="form.controls['vin'].errors">{{ getFormError( 'vin', form.controls['vin'] )}}</mat-error>
      </mat-form-field>
    </div>

  </div>



</mat-dialog-content>
<mat-dialog-actions align="end">
 <div [style.padding-right]="'15px'">
   <button mat-button mat-dialog-close="cancel">Anuluj</button>
   <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
   <button mat-button mat-flat-button (click)="setCar()" color="primary" class="button-big" [disabled]="form.invalid">Dodaj</button>
 </div>
</mat-dialog-actions>
