@import "src/assets/scss/mixins";

.summary-cost-row{
  padding-top: 7.5px;
  padding-bottom: 7.5px;

  text-transform: uppercase;
}

.summary-cost-total{
  padding-top: 50px;

  &-label{
    width: 100%;
    text-transform: uppercase;
    font-size: 22px;
  }

  &-value{
    padding-top: 10px;
    font-size: 26px;
    font-weight: 700;
  }
}

.col-info-left{
  font-weight: 700;
}

@include rwd('maxLG'){
  .summary-cost-row {
    font-size: 16px;
  }
  h4{
    font-size: 24px !important;
  }
}
