<form [formGroup]="form" class="container-fluid" style="padding: 0px;" >
  <div class="row">

    <div [ngClass]="field.class ? field.class : 'col-12 col-md-6'" *ngFor="let field of fields">
      <div class="head" *ngIf="field.type === 'head'">{{ field.head }}</div>

      <mat-form-field floatLabel="auto" appearance="outline" *ngIf="(field.type === 'input' && field.input)">
        <mat-label>{{field.input?.label}}</mat-label>

        <mat-select *ngIf="field.input?.select" [formControlName]="field.input.controlName">
          <mat-option *ngFor="let select of field.input?.select" [value]="select.value">
            {{select.viewValue}}
          </mat-option>
        </mat-select>

        <input *ngIf="!field.input?.select" matInput [formControlName]="field.input.controlName" [placeholder]="(field.input.placeholder ? field.input.placeholder : '')" [type]="(field.input.type ? field.input.type : 'text')">
        <mat-error *ngIf="form.get(field.input.controlName)?.hasError('required')" color="warn">Field required</mat-error>
        <mat-error *ngIf="!form.get(field.input.controlName)?.hasError('required') && form.get(field.input.controlName)?.hasError('email')" color="warn">E-Mail error</mat-error>
        <mat-error *ngIf="form.get(field.input.controlName)?.hasError('pattern')" color="warn">Error field</mat-error>
        <mat-error *ngIf="form.get(field.input.controlName)?.hasError('mustMatch')" color="warn">Must Match</mat-error>
      </mat-form-field>
    </div>

    <div class="col-12 " *ngIf="errorInvalidForm">
      <div class="form-all-error">One or more fields have an error. please check and try again</div>
    </div>
  </div>

  {{ form.controls | json }}


</form>
